<% provide(:title, "ToDoApp") %>
<div class="container">
  <h1>ToDoアプリ</h1>
  <p>こちらはRailsを用いたTODOアプリです</p>
</div>
<div class="container">
  <a href="/login" class="button">ログイン</a>
  <a href="/signup" class="button">アカウント作成</a>
</div>
